<div class="pull-right">
  <%= link_to t('.edit'), edit_dashboard_app_path(@app), class: "btn btn-primary btn-sm" %>
  <%= link_to t('.remove'), dashboard_app_path(@app), class: "btn btn-danger btn-sm", :method => :delete %>
</div>
<h1 class="page-header"><%= @app.name %></h1>

<div class="row">
  <div class="col-md-8">
    asg
  </div>
  <div class="col-md-4">
    <h4>App Credentials</h4>
    <p>app_id: <code><%= @app.id %></code></p><br />

    <h4>Access Tokens</h4>
    <p>client: <code><%= @app.client_access_token %></code></p>
    <p>server: <code><%= @app.server_access_token %></code></p>
  </div>
</div>
